@import "../_vars"
.parallax-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    // transform: translate(0, -50%)
    overflow: hidden

.parallax__triangles  
    // background-color: transparent  
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: all 0.1s
    img 
        position: absolute
        top: 0
        left: 0
        width: 100%

.parallax__triangles--dark
    z-index: 0

.parallax__triangles--grey
    z-index: 1

.parallax__triangles--viol
    z-index: 1
  
@media (max-width: 768px)
    .parallax__triangles
        img 
            object-fit: cover
            height: 100%
            font-family: 'object-fit: cover;'