@import "../_vars"
.skills
    display: block
    flex-direction: column
    justify-content: center
    padding: 50px
    padding-bottom: 100px
    padding-top: 150px
    min-height: 50vh
    position: relative
    overflow: hidden
    transition: all 0.5s
    background-image: url("../img/skills-vbg.svg"), url("../img/brain.svg")
    background-position: 25% 0, 0% 15%
    background-repeat: no-repeat
    background-size: cover, 50% 
    font-size: 20px
    margin-top: -1px
    // line-height: 30px

.skills__triangle--back
    fill: $grey    
    
.skills__header
    display: block
    width: 100%
    font-weight: 700
    font-size: 60px
    line-height: 80px
    text-align: center
    margin: 0
    padding: 30px 0 50px 0
    z-index: 100
    // position: sticky
    // top: 0

.skills__my-skill
    width: 86%
    margin: 0 auto
    display: flex
    padding: 50px 0 50px 0
    min-height: 25vh 
    // position: relative
    visibility: hidden
    transition: all 0.5s

    &:nth-child(even)
        transform: translate(-150%, 0)
        flex-direction: row-reverse
        // background-image: url("../../img/logo/chatleft.svg")
        // background-repeat: no-repeat
        // background-size: cover 
        // background-position: center

    &:nth-child(odd)
        transform: translate(150%, 0)    
        // background-image: url("../../img/logo/chatright.svg")
        // background-repeat: no-repeat
        // background-size: 100%
        // background-position: center

.skills__my-skill.skills_my-skill--open
    // position: relative
    visibility: visible
    transition: all 0.5s  
    transform: translate(0, 0)

.skills__section-header
    width: 20%
    display: flex
    justify-content: center
    align-items: center
    font-weight: 500
    font-size: 35px
    line-height: 45px
    margin: 0
    padding: 30px 0
    white-space: nowrap
    opacity: 0

.skills__img-wrapper
    width: 35%
    display: flex
    justify-content: center
    align-items: center

.skills__skill-img    
    width: auto
    height: 150px
    min-height: 150px
    object-fit: contain
    font-family: 'object-fit: contain;'
    padding: 0 30px

.skills__skill-description
    width: 45%         
    padding: 0 30px   
    display: flex
    align-items: center 

@media (max-width: 1600px)
    .skills
        font-size: 18px
        // line-height: 24px    
    
    .skills__header
        font-size: 50px
        line-height: 60px


@media (max-width: 1360px)
    .skills
        padding: 30px

    .skills__section-header
        width: 10%

    .skills__img-wrapper
        width: 40%    

    .skills__skill-description
        width: 50%    

@media (max-width: 1200px)
    .skills
        padding-top: 125px
    //     font-size: 16px
    //     line-height: 20px       
    
    .skills__header
        font-size: 40px
        line-height: 50px  
        padding: 15px 0 35px 0

@media (max-width: 992px)
    .skills__header
        font-size: 30px
        line-height: 40px

@media (max-width: 800px)
    .skills
        padding: 50px 20px
        padding-top: 100px

@media (max-width: 768px)
    .skills
        // font-size: 18px
        // line-height: 24px  
        background-position: 50% 0, 50% -1%
        background-size: cover, 75% 

    .skills__my-skill
        flex-direction: column
        width: 100%
        padding: 0
        background-color: transparent
        
        &:nth-child(even)
            flex-direction: column

    .skills__section-header
        display: none

    .skills__img-wrapper
        width: 100%
        padding: 25px

    .skills__skill-img       
        height: 100px

    .skills__skill-description
        width: 100%      
        text-align: center