@import "../_vars"
.who-i-am
    width: 100%
    position: relative
    background-color: $grey
    padding: 150px
    overflow: hidden
    min-height: 100vh
    // background-image: url("../../img/about-triangle.svg")
    // background-position: center bottom
    // background-repeat: no-repeat
    // background-size: 100%
    // margin-top: -1.02px

.who-i-am__triangle
    fill: $dark

.tabs-container
    display: flex
    position: absolute
    top: 100px
    right: 100px
    transform: translate(0,-100%)
    // margin-right: 150px
    width: 40%
    align-items: center
    z-index: 1
    transition: 1s
    // overflow: hidden

.who-i-am__tabs
    font-family: $header
    position: relative
    font-weight: 500
    font-size: 24px
    line-height: 24px
    height: 35px
    padding: 5px 25px
    border: none
    border-right: 1px solid $grey
    width: 25%
    white-space: nowrap
    text-align: center
    cursor: pointer
    background-color: #200132
    border-radius: 5px 5px 0 0
    flex-shrink: 1
    transition: all 0.4s
    &:hover,
    &:focus
        width: 35%
        flex-shrink: 0   
        outline: 0

    &::before,
        content: ""
        width: 25px
        height: 25px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        // background-image: url(../../img/logo/employee.svg)
        background-repeat: no-repeat
        background-size: 25px 25px 
        transition: all 0.5s linear
        opacity: 1

    &:hover::before,
    &:focus::before
        opacity: 0
        transition: all 0.5s 
         
    &::after
        position: absolute
        top: 50%
        left: 50%
        font-family: $header
        font-size: 20px
        line-height: 20px
        color: #fff
        transition: all 0.5s
        opacity: 0
        transform: translate(-50%, -50%)

    &:hover::after,
    &:focus::after
        // font-size: 20px
        opacity: 1
        transition: all 0.5s    
    
    &:nth-child(1)::before
        background-image: url(../../img/logo/welcome.svg)

    &:nth-child(1)::after
        content: "Приветствую"
        
    &:nth-child(2)::before
        background-image: url(../../img/logo/employee.svg)

    &:nth-child(2)::after
        content: "Обо мне"

    &:nth-child(3)::before
        background-image: url(../../img/logo/mail.svg)

    &:nth-child(3)::after
        content: "Контакты"

    &:nth-child(4)::before
        background-image: url(../../img/logo/icon-coding.svg)

    &:nth-child(4)::after
        content: "Хобби"
          
.who-i-am__title
    font-weight: 700
    font-size: 60px  
    line-height: 80px  
    white-space: nowrap
    margin: 0
    padding: 30px 0

.who-i-am__section
    width: 92%
    // margin: 0 auto
    display: flex
    position: absolute
    top: 100px
    bottom: 150px
    left: 50%
    transition: all 0.5s ease 0.5s
    transform: translateX(-200%)
    // background-color: $grey
    margin-top: -1px
    z-index: 2
    overflow: hidden
    visibility: hidden
    justify-content: space-between

// .who-i-am__content:nth-child(2)
//     background-color: $viol

.who-i-am__image
    width: 40%
    display: flex
    justify-content: center
    align-items: center
    position: relative
    @supports (clip-path: polygon(15% 0%, 100% 0, 100% 100%, 15% 100%, 0% 50%))
        clip-path: polygon(15% 0%, 100% 0, 100% 100%, 15% 100%, 0% 50%)

    picture
        width: 100%
        height: 100%
    
.who-i-am__image-img
    width: 100%
    height: 100%
    object-fit: cover
    font-family: 'object-fit: cover;'
    // border-radius: 5px
        // filter: grayscale(100%)

.who-i-am__content
    width: 59.5%
    padding: 50px 100px 
    padding-bottom: 10px
    font-size: 20px
    line-height: 30px
    // background-color: $dark   
    overflow-y: auto
    background-image: linear-gradient(to bottom, $viol, transparent)
    // clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 90%, 75% 100%, 50% 90%, 0 90%);    
    // border-radius: 5px

.who-i-am__section.active
    transform: translateX(-45%)
    transition: all 0.5s ease 1s  
    visibility: visible

@keyframes tabs
    0%  
        transform-origin: bottom
        transform: translate(0,-100%) scaleY(1)

    20%
        transform: translate(0,-100%) scaleY(0)

    80%
        transform: translate(0,-100%) scaleY(0)

    100%
        transform-origin: bottom
        transform: translate(0,-100%) scaleY(1)              

.who-i-am__tabs.active
    background-color: $viol    
    border-bottom: 0
    width: 35%
    min-width: 35%
    &::before
        left: 10%

    &::after
        opacity: 1
        // font-size: 20px
        padding-left: 15px

    &:hover::before,
    &:focus::before 
        opacity: 1 

    &:hover,
    &:focus
        width: 35%
        flex-shrink: 1   

.tabs-container.active
    animation: tabs 2s

@media (max-width: 1600px)
    .who-i-am__section
        top: 85px
        bottom: 100px

    .who-i-am__title
        font-size: 50px
        line-height: 60px

    .who-i-am__image
        width: 39%

    .who-i-am__content
        width: 60%
        font-size: 18px
        line-height: 24px    
        padding: 40px 75px    
        padding-bottom: 10px   

    .tabs-container
        top: 85px    

@media (max-width: 1200px)
    .who-i-am__section
        top: 70px
        bottom: 70px

    .tabs-container
        top: 70px

    .who-i-am__tabs
        &:hover::before,
        &:focus::before
            opacity: 1
            transition: all 0.5s   

        &:hover::after,
        &:focus::after
            font-size: 0
            opacity: 0
            transition: all 0.5s       

    .who-i-am__tabs.active
        &::before
            left: 50%
        
        &::after
            opacity: 0
            font-size: 0       

    .who-i-am__title
        font-size: 40px
        line-height: 50px  
        white-space: pre-wrap

    .who-i-am__image
        width: 39%    

    .who-i-am__content    
        font-size: 16px
        line-height: 20px       
        padding: 25px 50px
        width: 60%
        padding-bottom: 10px

@media (max-width: 992px)
    .who-i-am__image
        width: 44%

    .who-i-am__content
        width: 55%

    .tabs-container
        width: 35%    

@media (max-width: 800px)

    .who-i-am__section
        width: calc(100% - 60px)
        top: 30px
        bottom: 60px
        clip-path: none
        // margin: 0 10px 0 50px

    .who-i-am__section.active
        transform: translateX(calc(-50% + 30px))

    .who-i-am__image
        display: none

    .who-i-am__content
        width: 100%  
        font-size: 18px
        line-height: 24px  
        padding: 30px 
        padding-bottom: 10px
        background-color: $viol
        background-image: none

    .tabs-container
        flex-direction: column
        width: 40px
        left: 60px
        transform: translate(-100%, -100%)
        top: 70%

    .who-i-am__tabs
        border-radius: 5px 0 0 5px   
        height: 50px 
        border: none
        border-top: 1px solid $grey

    @keyframes tabs
        0%  
            transform-origin: right
            transform: translate(-100%,-100%) scaleX(1)

        20%
            transform: translate(0,-100%) scaleX(0)

        80%
            transform: translate(0,-100%) scaleX(0)

        100%
            transform-origin: right
            transform: translate(-100%,-100%) scaleX(1)     
                               
    .who-i-am__title
        padding: 0
        padding-bottom: 20px
        font-size: 30px
        line-height: 40px

